* {
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
  background: linear-gradient(80deg, #f8f7f7 50%, #8c8cb1 50%);
    margin: 0;
    height: 100%;
    
}

.container {
    margin: 0 auto;
    margin-top:100px;
    width: 56em;
    background-color: #c9c9d4;
    padding:  50px 40px;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(60, 60, 60, 0.2);
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper input{
    width: 60%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid #201d2e;
}
.wrapper button{
    width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f1e9e9ff;
    border-radius: 3px;
}
.container p{
    line-height: 35px;
    text-align: justify;
    margin-top: 30px;
}
mark{
    background-color: #ffdd4b;
}
a {
  text-decoration: none;
}
a:hover {
  color: #f6efef;
  transition: all 0.7s;
}
.top-container {
  background-color: f1f1f1;
  padding: 50px;
  text-align: center;
}
.header {
  border-radius: 10px;
  padding: 20px 160px;
  background: 555;
  color: f1f1f1;
  background-color: #ece4e4;
}
.content {
  padding: 16px;
}
.sticky{
  position: sticky;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}
.home-button {
  width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    color: #f4f0f0ff;
    border-radius: 3px;
}
.bookmark-button {
  width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    color: #eee8e8ff;
    border-radius: 3px;
}
