* {
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    
}

.container {
    margin: 0 auto;
    width: 56em;
    background-color: #f5f5f5ff;
    padding:  50px 40px;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(60, 60, 60, 0.2);
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper input{
    width: 60%;
    padding: 10px 7px;
    border-radius: 3px;
    border: 1px solid #201d2e;
}
.wrapper button{
    width: 30%;
    background-color: #201d2e;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffffff;
    border-radius: 3px;
}
.container p{
    line-height: 35px;
    text-align: justify;
    margin-top: 30px;
}
mark{
    background-color: #ffdd4b;
}
a {
  text-decoration: none;
}
a:hover {
  color: #e61919;
  transition: all 0.7s;
}
.top-container {
  background-color: f1f1f1;
  padding: 30px;
  text-align: center;
}
.header {
  padding: 20px 160px;
  background: 555;
  color: f1f1f1;
  background-color: #b3b3b3;
}
.content {
  padding: 16px;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}

